<!-- This wrapper is necessary for applying multiple themes -->
<div class="mat-app-background">

  <!-- Toolbar -->
  <mat-toolbar color="primary">
    <span class="toolbar">{{title}}</span>
    <span class="user">{{userEmail}}</span>
    <button mat-raised-button color="accent">Quitter</button>
  </mat-toolbar>
  
  <!-- Content -->
  <div class="content">
  <form [formGroup]="aForm">
    <mat-form-field class="url-form-field" appearance="outline">
      <mat-label>Url</mat-label>
      <input matInput type="text" #url class="form-control" formControlName="url">
      <button mat-button *ngIf="url" matSuffix mat-icon-button aria-label="Clear" (click)="clearUrl()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
</form>
  </div>
</div>