.toolbar {
    flex: 1 1 auto;
    text-align: center;
  }
  
  .content {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  
    &>*:not(:last-child) {
      margin-bottom: 20px;
    }
    
    .url-form-field{
      width: 60%;
  
    }
    
    
  }
  
  

  